In [49]:
import pandas as pd

In [50]:
lumi_data = pd.read_csv("./RUN1-RUN2_ATLAS_lum.csv")

In [51]:
lumi_data

          Timestamp          ATLAS
0     1259417511146       0.000000
1     1259456213472       0.000000
2     1259479840222       0.000000
3     1259557022577       0.000000
4     1259625221614       0.000000
5     1259790539481       0.000000
6     1259812257523       0.000000
7     1259844434238       0.000000
8     1259850580752       0.000000
9     1259857311459       0.000000
10    1259866223572       0.000000
11    1259911907562       0.000000
12    1259949732070       0.000000
13    1260001076780       0.000000
14    1260050356705       0.000000
15    1260128645407       0.000000
16    1260228974389       0.000000
17    1260257730754       0.000000
18    1260380637672       0.000000
19    1260416108352       0.000000
20    1260455317666       0.000000
21    1260510850603       0.000000
22    1260527247313       0.000000
23    1260603793115       0.000000
24    1260622219823       0.000000
25    1260643813014       0.000000
26    1260670752514       0.000000
27    1260727564586       0.000000
28    1260748229371       0.000000
29    1260812320578       0.000000
...             ...            ...
6106  1542278687342  187579.165374
6107  1542336066078  187579.165374
6108  1542344702991  187579.165374
6109  1542380710357  187579.165374
6110  1542416396346  187579.165374
6111  1542452134400  187579.165374
6112  1542463258853  187579.165374
6113  1542513754272  187579.165374
6114  1542568536379  187579.165374
6115  1542642837968  187579.165374
6116  1542652360141  187579.165374
6117  1542687414919  187579.165374
6118  1542734855492  187579.165374
6119  1542746688876  187579.165374
6120  1542756257390  187579.165374
6121  1542782295854  187579.165374
6122  1542804684162  187579.165374
6123  1542837158118  187579.165374
6124  1542846342642  187579.165374
6125  1542879308146  187579.165374
6126  1542889915892  187579.165374
6127  1542941541084  187579.165374
6128  1542992545745  187579.165374
6129  1543037971271  187579.165374
6130  1543042349062  187579.165374
6131  1543057459481  187579.165374
6132  1543096077797  187579.165374
6133  1543133970103  187579.165374
6134  1543178560829  187579.165374
6135  1543216389642  187579.165374

[6136 rows x 2 columns]

In [52]:
lumi_data.head()

       Timestamp  ATLAS
0  1259417511146    0.0
1  1259456213472    0.0
2  1259479840222    0.0
3  1259557022577    0.0
4  1259625221614    0.0

In [53]:
lumi_data.tail()

          Timestamp          ATLAS
6131  1543057459481  187579.165374
6132  1543096077797  187579.165374
6133  1543133970103  187579.165374
6134  1543178560829  187579.165374
6135  1543216389642  187579.165374

In [54]:
lumi_data.dtypes

Timestamp      int64
ATLAS        float64
dtype: object

In [55]:
lumi_data['ATLAS'].describe()

count      6136.000000
mean      54053.770281
std       53488.725240
min           0.000000
25%       12877.544459
50%       29347.494694
75%       78153.531719
max      187579.165374
Name: ATLAS, dtype: float64

In [56]:
lumi_data = lumi_data.drop(["Date Time", "ALICE", "CMS", "LHCb", "Fill Number"], axis=1)

ValueError: labels ['Date Time' 'ALICE' 'CMS' 'LHCb' 'Fill Number'] not contained in axis

In [57]:
lumi_data.tail()

          Timestamp          ATLAS
6131  1543057459481  187579.165374
6132  1543096077797  187579.165374
6133  1543133970103  187579.165374
6134  1543178560829  187579.165374
6135  1543216389642  187579.165374

In [58]:
lumi_data.rename(columns={"Timestamp": "Unix time"})

          Unix time          ATLAS
0     1259417511146       0.000000
1     1259456213472       0.000000
2     1259479840222       0.000000
3     1259557022577       0.000000
4     1259625221614       0.000000
5     1259790539481       0.000000
6     1259812257523       0.000000
7     1259844434238       0.000000
8     1259850580752       0.000000
9     1259857311459       0.000000
10    1259866223572       0.000000
11    1259911907562       0.000000
12    1259949732070       0.000000
13    1260001076780       0.000000
14    1260050356705       0.000000
15    1260128645407       0.000000
16    1260228974389       0.000000
17    1260257730754       0.000000
18    1260380637672       0.000000
19    1260416108352       0.000000
20    1260455317666       0.000000
21    1260510850603       0.000000
22    1260527247313       0.000000
23    1260603793115       0.000000
24    1260622219823       0.000000
25    1260643813014       0.000000
26    1260670752514       0.000000
27    1260727564586       0.000000
28    1260748229371       0.000000
29    1260812320578       0.000000
...             ...            ...
6106  1542278687342  187579.165374
6107  1542336066078  187579.165374
6108  1542344702991  187579.165374
6109  1542380710357  187579.165374
6110  1542416396346  187579.165374
6111  1542452134400  187579.165374
6112  1542463258853  187579.165374
6113  1542513754272  187579.165374
6114  1542568536379  187579.165374
6115  1542642837968  187579.165374
6116  1542652360141  187579.165374
6117  1542687414919  187579.165374
6118  1542734855492  187579.165374
6119  1542746688876  187579.165374
6120  1542756257390  187579.165374
6121  1542782295854  187579.165374
6122  1542804684162  187579.165374
6123  1542837158118  187579.165374
6124  1542846342642  187579.165374
6125  1542879308146  187579.165374
6126  1542889915892  187579.165374
6127  1542941541084  187579.165374
6128  1542992545745  187579.165374
6129  1543037971271  187579.165374
6130  1543042349062  187579.165374
6131  1543057459481  187579.165374
6132  1543096077797  187579.165374
6133  1543133970103  187579.165374
6134  1543178560829  187579.165374
6135  1543216389642  187579.165374

[6136 rows x 2 columns]

In [59]:
lumi_data.to_csv("RUN1-RUN2_ATLAS_lum.csv", index=False, encoding='utf8')